<h1> <b> Lab - 6 </b> </h1>
<h3>Logistic Regression on BuyComputer dataset.</h3>
<br>

<br/><h2> <b> Import Necessary libraries.</b> </h2><br/>

In [11]:
import numpy as np
import pandas as pd
import io
import matplotlib.pyplot as plt

In [12]:
# want to import files from drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<br/><h2> <b> Read the data.</b> </h2><br/>

In [13]:
data = pd.read_csv("/content/drive/MyDrive/ML LAB/BuyComputer.csv")

# drop User_Id column
data.drop(columns = ["User ID",], axis = 1, inplace = True)

data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

<br/><h2> <b> Extract inputs and targets from the dataset.</b> </h2><br/>

In [14]:
targets = data.loc[:, data.columns == "Purchased"].values
# print("Targets: \n", targets)

In [15]:
features = data.loc[:, data.columns != "Purchased"].values
# print("Features: \n", features)

<br/><h2> <b> Split the dataset into training and testing dataset.</b> </h2><br/>

In [16]:
# Splitting the dataset into train and test
from sklearn.model_selection import train_test_split

inputs_train, inputs_test, targets_train, targets_test = train_test_split( 
    features, targets, test_size = 0.2, random_state = 46)

print("Shape of training data: ", inputs_train.shape)
print("\nShape of testing data: ", inputs_test.shape)

Shape of training data:  (320, 2)

Shape of testing data:  (80, 2)

# Logistic Regression from the scratch

<br/><h2> <b> Scale the data.</b> </h2><br/>

In [17]:
# Sacaling data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
inputs_train = sc.fit_transform(inputs_train)
inputs_test = sc.fit_transform(inputs_test)

<br/><h2> <b> Defining the class LogisticRegression.</b> </h2><br/>

In [18]:
class LogisticRegression:
  
  # used to initialize the values
  def initialize(self, x):
    weights = np.zeros((np.shape(x)[1] + 1, 1))
    x = np.c_[np.ones((np.shape(x)[0], 1)), x]
    return weights, x

  # sigmoid function
  def sigmoid(self, z):
    sig = 1 / (1 + np.exp(-z))
    return sig

  def fit(self, x, y, alpha = 0.001, iter = 3000):
    weights, x = self.initialize(x)

    def cost(theta):
      z = np.dot(x, theta)
      cost0 = y.T.dot(np.log(self.sigmoid(z)))
      cost1 = (1-y).T.dot(np.log(1 - self.sigmoid(z)))
      cost = -((cost1 + cost0)) / len(y)
      return cost
    
    cost_list = np.zeros(iter,)
    for i in range(iter):
      weights = weights - alpha * np.dot(x.T, self.sigmoid(np.dot(x, weights)) - np.reshape(y, (len(y), 1)))
      cost_list[i] = cost(weights)
      self.weights = weights
      return cost_list

  # used to make prediction
  def predict(self, x):
    z = np.dot(self.initialize(x)[1], self.weights)
    lis = []
    for i in self.sigmoid(z):
      if i > 0.5:
        lis.append(1)
      else:
        lis.append(0)
    return lis

<br/><h2> <b> Making the prediction.</b> </h2><br/>

In [20]:
obj = LogisticRegression()
model = obj.fit(inputs_train, targets_train)
y_pred = obj.predict(inputs_test)
# y_pred

In [21]:
from sklearn import metrics
print("Accuracy: ", metrics.accuracy_score(targets_test, y_pred))

Accuracy:  0.8375

# Using in-built LogisticRegression of sklearn

In [22]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(inputs_train, targets_train)

y_prediction = logreg.predict(inputs_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
from sklearn import metrics
print("Accuracy: ", metrics.accuracy_score(targets_test, y_prediction))

Accuracy:  0.85

# Observation

<br/><h2> <b> If we take a look at the accuracies of the both model one using scracth and one using in-built library of sklearn. In both cases, we are achieving the good accuracy.</b> </h2><br/>